<!DOCTYPE html>
<html>
<head>
	<title>Book</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<style type="text/css">
		table,th,td {
		border:1px solid black;
		padding: 5px;
		table-layout: 
		}
		th,td{
			padding: 5px;
			text-align: left;
		}
		.jumbotron{
			background-color: black;
			color: white;
		}
		.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
img{
	border-radius: 50%;
}
.checked {
  color: orange;
}
		
	</style>
</head>
<body>
	<div class="jumbotron">
		<center>
		<h1>Our Pricing List</h1>
		<marquee><p>Special discount offer use your coupen code</p></marquee></center>
	</div>
		
	
	<center><i><h1>Choose Your Barbor</h1></i></center>
	<div class="row">
  <div class="column">
  	<figure>
    <img src="https://c0.wallpaperflare.com/preview/783/260/935/barber-barbershop-haircut-hairstyle.jpg" alt="Snow" style="width:400px; height: 500px;">
    <b><i><center><figcaption>John Doe</figcaption></center></i></b>
    <center><button class="btn btn-success">ADD ME</button></center>
    </figure>
    <center>
    <span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star"></span>
		<span class="fa fa-star"></span>
		</center>
  </div>

  <div class="column">
  	<figure>
    <img src="https://i.guim.co.uk/img/media/de68881e9342b4df43291561939c85ff88bd2ee2/0_630_3603_3603/master/3603.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=b0b39c6c2c5274ad01bb77a6eba2fe04" alt="Forest" style="width:400px; height: 500px;"><b><i><center><figcaption>Calm White</figcaption></center></i></b>
    <center><button class="btn btn-success">ADD ME</button></center>
</figure>
  </div>
   <div class="column">
   	<figure>
    <img src="https://previews.123rf.com/images/antoniodiaz/antoniodiaz1404/antoniodiaz140400001/27621319-beautiful-young-female-barber-about-to-cut-a-man.jpg" alt="Snow" style="width:400px; height: 500px; ">
  	<b><i><center><figcaption>Angelina Morris</figcaption></center></i></b>
  	<center><button class="btn btn-success">ADD ME</button></center>
  	</figure>
  </div>
  <center>
  <b><table style="width: 50%">
		<tr>
			<td>Haircut</td>
			<td>$12</td>
			<td class="btn btn-success">ADD</td>
		</tr>
		<tr>
			<td>Berad Grooming</td>
			<td>$30</td>
			<td class="btn btn-success">ADD</td>
		</tr>
		<tr>
			<td>Haircut + Beard Grooming</td>
			<td>$38</td>
			<td class="btn btn-success">ADD</td>
		</tr>
		<tr>
			<td>Straightening(Hair + Beard)</td>
			<td>$40</td>
			<td class="btn btn-success">ADD</td>
		</tr>
		<tr>
			<td>Beard Shaping</td>
			<td>$11</td>
			<td class="btn btn-success">ADD</td>
		</tr>
		<tr>
			<td>Combo Pack</td>
			<td>$60</td>
			<td class="btn btn-success">ADD</td>
		</tr>
	</table></b>
	</center>
	</div>
</body>
</html>