<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<meta charset="utf-8">
	<title>Appointment Form</title>
</head>
<style type="text/css">
	body{
		background-image: url("https://i.pinimg.com/originals/b4/d9/aa/b4d9aac7374566dc1a55bcbaae02fa0d.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
	}
	h1{
		text-align: center;
		padding-top: 290px;
	}

</style>
<body>
	<center>
	<h1>Thanks for getting in touch!</h1>
	<p><b>Please check your email</b> for further instructions on how to complete your account setup</p>
	<a href="http://localhost:1002" class="btn btn-success">Back to Home page</a>
	</center>
</body>
</html>