<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<style type="text/css">
		img{
			width: 300px;
			height: 300px;
			float: left;
			margin: 1%;
			border: 2px solid black;
		}
		.jumbotron{
			background-image: url('https://images.unsplash.com/photo-1589381855733-01bb5380dedf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 600px;
		}
		#header{
			border-radius: 10px;
			border-style: solid;
			border-color: black;
			color: white;
		}
		body{
			background-color: white;
		}
		.image{
			margin-left: 90px;
			margin-right: 90px;
		}

	</style>
</head>
<body>
	<div id="header" class="jumbotron text-center">
		<h1 class="display-3 text-center">The Salon</h1>
		<div class="container">
			<p><b> Good hair speaks louder than words.</b></p>
			<!--<a href="http://localhost:1002/" class="btn btn-primary">Back</a>-->
			<a href="/book" class="btn btn-success">Book</a>
			<a href="/new" class="btn btn-primary">Add Photos</a>
		</div>
	</div>
	<h1><center>Our Gallery</center></h1>
	<div class="image">
				<a href="https://wallpaperaccess.com/full/3696076.jpg" download>
				<img src="https://wallpaperaccess.com/full/3696076.jpg"></a>

				<a href="https://assets.sentinelassam.com/h-upload/2020/12/07/179251-medium-side-swept.webp?w=400&dpr=2.6" download="btn-success">
				<img src="https://assets.sentinelassam.com/h-upload/2020/12/07/179251-medium-side-swept.webp?w=400&dpr=2.6"></a>

				<a href="https://i.pinimg.com/originals/49/a9/f1/49a9f17afa5cc38e222a7c883f1c1d14.jpg" download="btn-success">
				<img src="https://i.pinimg.com/originals/49/a9/f1/49a9f17afa5cc38e222a7c883f1c1d14.jpg"></a>
				
				<img src="https://i.pinimg.com/originals/13/9d/fb/139dfb35f3345f6ffb2272f6d67fb658.jpg">
				
				<img src="https://www.truedial.com/gallery/83-g1.jpg">
				
				<img src="https://www.newlookinstitute.com/images/before-after-gallery/mens-gallery/hairskeen/
				02-hairskeen-after.jpg">
				
				<img src="https://wallpaperaccess.com/full/3696056.jpg">
				
				<img src="https://i.pinimg.com/originals/e2/11/a4/e211a415704901d04f0f6d8c88bd35b6.jpg">
				
				<img src="https://www.hji.co.uk/wp-content/efs/2013/07/2007-men-streak.jpg">
				
				<img src="https://www.denimxp.com/wp-content/uploads/2020/02/Gents-hair-cut-style-2021-27.jpg">
				
				<img src="https://top-spa.net/wp-content/uploads/listing-uploads/gallery/2020/06/hair-salon-for-men-1.jpg
				">
				
				<img src="https://cindysbarberbeauty.com/uploads/fdemoipkkysqz/gallery/Hair-salon-22031-Cindys-Barber-Beauty-in-Fairfax-VA-22031-No-3.jpg">
	</div>
</body>
</html>
